- name: Ensuring ip6tables.d folder exists
  file: 
    path: /etc/sysconfig/ip6tables.d 
    state: directory

- name: Dropping all default ip6tables rules
  copy: 
    src: "files/ipv6/{{ item }}" 
    dest: "/etc/sysconfig/ip6tables.d/{{ item }}"
  with_items:
    - 99-filter-commit
    - 98-forward-0_head
    - 98-forward-z_foot
    - 01-input-0_head
    - 01-input-z_foot

- name: Configuring incoming sshd allowed IP                                                                         
  template:
    src: ipv6/01-input-service-default-sshd.policy.j2
    dest: /etc/sysconfig/ip6tables.d/01-input-service-default-sshd.policy

- name: Implementing local ipv6 firewall rule[s], if any
  template: 
    src: ipv6/01-input-localrules-policy.j2 
    dest: /etc/sysconfig/ip6tables.d/01-input-localrules-policy
  when: ip6tables_local_input_rules is defined

- name: Adding ipv6 forward rule if needed
  template: 
    src: "ipv6/{{ item }}.j2" 
    dest: "/etc/sysconfig/ip6tables.d/{{ item }}"
  with_items:
    - 98-forward-11-allow
  when: ip6tables_gw

- name: Enabling ipv6 routing
  sysctl: 
    name: "{{ item }}"
    value: 1 
    state: present 
    reload: yes
  with_items:
    - net.ipv6.conf.all.forwarding
    - net.ipv6.conf.default.forwarding 
    - net.ipv6.conf.default.proxy_ndp
    - net.ipv6.conf.all.proxy_ndp 
  when: ip6tables_gw

- name: Building ip6tables config file
  assemble: 
    src: /etc/sysconfig/ip6tables.d/ 
    dest: /etc/sysconfig/ip6tables
  notify: restart_ip6tables
  register: ip6tables_config

- name: Reloading ip6tables rules if changed now
  service: 
    name: ip6tables 
    state: restarted
  when: ip6tables_config is changed

- name: Enabling the ip6tables service
  service: 
    name: ip6tables 
    state: started 
    enabled: yes
