# Local rules defined through ansible iptables_block_rules
{% for rule in iptables_block_rules %}

{% if rule.dport is defined -%}
{% set iptables_dport = '--dport ' + rule.dport|string %}
{% else %}
{% set iptables_dport = '' %}
{% endif -%}

{# Note that the conditional is flipped from how we handle the dport, this is
 because previously we set a default to tcp if the protocol was undefined. If
 we want to set ip-based INPUT rules (for all protocols), we need to
 explicitly set rule.protocol to None
#}
{% if rule.protocol is not defined -%}
{% set iptables_protocol = '-p ' + 'tcp' %}
{% elif rule.protocol == '' %}
{% set iptables_protocol = '' %}
{% else %}
{% set iptables_protocol = '-p ' + rule.protocol %}
{% endif %}

{% if rule.source is not defined -%}
{% set iptables_source = '--source ' + '0.0.0.0/0' %}
{% elif rule.source == '' %}
{% set iptables_source = '' %}
{% else %}
{% set iptables_source = '--source ' + rule.source|string %}
{% endif %}

{# This is a 'new' conditional, so we can use the same pattern as above #}
{% if rule.destination is defined -%}
{% set iptables_destination = '--destination ' + rule.destination|string %}
{% else %}
{% set iptables_destination = '' %}
{% endif %}

{% if rule.action is not defined -%}
{% set iptables_action = 'REJECT' %}
{% else %}
{% set iptables_action = rule.action|string %}
{% endif %}

-A INPUT {{ iptables_protocol }} {{ iptables_source }} {{ iptables_dport }}  {{ iptables_destination }} -j {{ iptables_action }}

{% endfor %}
