# {{ iptables_policy_name }} ipv6 nft rule
add rule inet filter INPUT ct state new ip6 saddr {{ iptables_source|default('::/0') }} {{ iptables_protocol|default('tcp') }} dport {{ iptables_port }} counter accept
